<div class="card-columns">
  <% events.forEach(function(event){ %>
    <div class="card">

      <form class="" action="/admin/updateEvent/<%= event.id%>" method="post">
        <img class="card-img-top" src="<%= event.imagePath %>" alt="Event">
        <div class="card-body">
          <!-- <h2 class="card-title"> <%= event.title %> </h2> -->
          <small class="font-weight-light pb-2">Title</small>
          <input class="form-control mb-3" type="text" name="title" value="<%= event.title %>">
          <small class="font-weight-light pb-2">Description</small>
          <p class="card-text">
            <textarea class="form-control" name="description" name="description"><%= event.description %></textarea>
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->


          <div class="input-group p-0 col">
            <div class="input-group-prepend">
              <span class="input-group-text">£</span>
            </div>
            <input type="number" step="0.01" name="price" class="form-control" value="<%= event.price %>">
          </div>
          <br>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="disabled" name="disabled" "<%if (event.disabled ) {%> checked <% } %>">
            <label class="form-check-label" for="disabled" >Disable</label>
          </div>
          <br>
          <button type="submit" name="button" class="btn btn-block btn-success">Update</button>
          <br>
          <br>

          <ul class="list-group list-group-flush">
            <p class="text-center">Attendees Email</p>

            <% event.attending.forEach(function(userDetails){ %>
              <li class="list-group-item text-center">
                <!-- ejs with user.email  -->

                 <%= userDetails.email %>
              </li>
              <hr>
              <% }) %>
          </ul>
        </div>
      </form>

      <form class="d-flex justify-content-center" action="/admin/attendeesDetails/<%= event.id %>" method="post">
        <button type="submit" name="button" class="btn btn-success">Download attendees details</button>
      </form>
    </div>
    <% }) %>
</div>
